/* Mac-like Titlebar */
:root {
  --close-button-color: #e92a2a;
  --minimize-button-color: #f7bc1b;
  --maximize-button-color: #12db33;
  --button-position: row; /* This might be unnecessary, but if you need to switch between row/column, keep it */
}

.withFrame_a934d8 {
  margin: 0;
  height: 24px;
  display: flex;
  align-items: center;
}

.typeWindows_a934d8 {
  display: flex;
  flex-direction: var(--button-position);
  margin-left: 3px !important;
}

.withFrame_a934d8 .winButton_a934d8 > svg {
  display: none;
}

.withFrame_a934d8 .winButton_a934d8 {
  pointer-events: none;
  margin-left: -4px;
  position: relative;
}

.withFrame_a934d8 .winButton_a934d8::after {
  content: "";
  padding: 7px;
  border-radius: 50%;
  display: inline-block;
  pointer-events: all;
  transition: transform 200ms;
}

.withFrame_a934d8 .winButtonClose_a934d8::after {
  background-color: var(--close-button-color);
}

.withFrame_a934d8 .winButtonMinMax_a934d8:nth-child(3)::after {
  background-color: var(--maximize-button-color);
}

.withFrame_a934d8 .winButtonMinMax_a934d8:nth-child(4)::after {
  background-color: var(--minimize-button-color);
}

.withFrame_a934d8 .winButton_a934d8:hover::after {
  transform: scale(1.1);
}

.withFrame_a934d8 .winButton_a934d8:nth-last-child(1) {
  order: 2;
}

.withFrame_a934d8 .winButton_a934d8:nth-last-child(2) {
  order: 3;
}

.withFrame_a934d8 .winButton_a934d8:nth-last-child(3) {
  order: 1;
}
